.breadcrumb {
  font-size: 0.875rem;
  color: #666;
  margin-bottom: 1rem;
  background-color: #f6f9fe;
  padding: 2rem;
  font-weight: bold;
}

.breadcrumb span {
  display: inline;
}

.separator {
  margin: 0 0.25rem;
}